main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  /* background-color: blue; */
  /* height: 100dvh; */
  width: 100;
  max-width: 60rem;
  margin: auto;
  padding: 0 0.5rem !important;
}

.container-navigasi {
  /* height: 4rem; */
  width: 100%;
  /* background-color: black; */
  margin-top: 2rem;
  height: max-content;
}

.container-navigasi ul {
  height: max-content;
  display: flex;
  gap: 1rem;
}

.container-navigasi ul li {
  list-style: none;
}

.container-navigasi ul li a {
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 0.3rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-weight: 800;
  font-size: 0.8em;
  color: rgb(53, 53, 53);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.container-transaksi {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: max-content;
  padding: 0 0 5rem 0;
  /* background-color: aqua; */
}

.sell-icon {
  background-image: url(../../asset/icon/sell.svg) !important;
}

.container-table h1 {
  padding: 1rem 0.3rem;
  color: var(--primary-color);
}
