main {
  padding: 3rem 0;
}

main h1 {
  margin-top: 4rem;
  color: var(--primary-color);
}

.hbgskn {
  padding: 0.3rem 1rem;
  background-color: var(--primary-color);
  width: max-content;
  margin-top: 4rem;
  border-radius: 5px;
  font-weight: 800;
  font-size: 0.8em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
